{
    "plugins": [
        "node"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:node/recommended",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "node/no-unsupported-features": ["error", {"version": 8}]
    },
    "env": {
        "node": true,
        "browser": true
    },
    "root": true
}